What is API?
API refers to Application Programming Interface, is a set of rules and tools that allows different software applications to communicate with each other.
APIs are used to enable the integration of different software systems, allowing them to work together and share data seamlessly.
Using APIs, we can create more modular and extensible software applications by leveraging the functionality and services provided by different systems.

In [19]:
#import numpy as np
import pandas as pd
import requests # Built-in in anaconda already

In [15]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=41bec153ecce6d5d08e557ea56c49815&language=en-US&page=1')

In [25]:
df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [38]:
df.shape

(160, 7)

In [29]:
df.tail()

,id,title,overview,release_date,popularity,vote_average,vote_count
35,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,53.334,8.468,12112
36,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,35.869,8.500,3374
37,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-15,0.600,8.457,5068
38,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,39.382,8.455,12523
39,11216,Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",1988-11-17,33.125,8.450,4093

In [34]:
# To fetch the whole data for 457 sheets we will have to iterate though this code.
#for i in range(1,429):
    #response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=41bec153ecce6d5d08e557ea56c49815&language=en-US&page={}'.format(i))
    #temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    #df = df.append(temp_df,ignore_index=True)

In [37]:
df.tail()

,id,title,overview,release_date,popularity,vote_average,vote_count
155,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,53.334,8.468,12112
156,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,35.869,8.500,3374
157,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-15,0.600,8.457,5068
158,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,39.382,8.455,12523
159,11216,Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",1988-11-17,33.125,8.450,4093

In [39]:
df.to_csv('movies.csv')