<a href="https://colab.research.google.com/github/Vaibhavml/Python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# Preparing the Base
def function_name():
  print("Hello")
function_name()
print("Outside the function")

Hello
Outside the function

In [6]:
function_name()

Hello

In [4]:
print(function_name())

Hello
None

In [13]:
def addition(num1,num2):
  sum = num1+num2
  print("sum: ", sum)

In [14]:
addition(2,4)

sum:  6

In [16]:
def subtract(num1,num2):
  subraction  = num1-num2
  print("Subtraction: ",subraction)

In [17]:
subtract(20,3)

Subtraction:  17

In [18]:
def multiplication(num1,num2,num3):
  multi  = (num1-num2)*num3
  print("multi: ", multi)

In [20]:
multiplication(10,5,4)

multi:  20

In [21]:
def divide(num1,num2):
  dev = num1%num2
  print("division :", dev)

In [22]:
divide(100,20)

division : 0

In [26]:
# Make a calculator function
def addition(num1,num2):
  addition = num1+num2
  print('addition: ',addition)

def subtraction(num1,num2):
  sub = num1-num2
  print("sub: ", sub)

def multiplication(num1,num2):
  multi = num1*num2
  print("multi: ", multi)

def division(num1,num2):
  div = num1/num2
  print("division: ", div)

In [27]:
addition(2,10)

addition:  12

In [29]:
subtraction(100,200)

sub:  -100

In [30]:
multiplication(100,10)

multi:  1000

In [31]:
division(100,200)

division:  0.5

In [37]:
# Write a function that calculates SI
def simple_interest(principle,time,rate):
  si = (principle*time*rate)/100

  return si
variable = simple_interest(10000,2,15)/3
print("SI: ",variable)

SI:  1000.0

In [33]:
simple_interest(10000,2,10)

Simple interest:  2000.0

2000.0

In [4]:
import math
power =  pow(5,5)
print("The power is:", power)

The power is: 3125

In [41]:
5*5*5*5*5

3125

In [2]:
# Make your own function that will calculate the square root of numbers
def square_root(num):
  sq_root = num*num
  return sq_root
for i in range(10):

  result = square_root(i)
  print("The square root of ",i,"=", result)

The square root of  0 = 0
The square root of  1 = 1
The square root of  2 = 4
The square root of  3 = 9
The square root of  4 = 16
The square root of  5 = 25
The square root of  6 = 36
The square root of  7 = 49
The square root of  8 = 64
The square root of  9 = 81

In [8]:
def square_root(num):
  square = num*num
  return square

for i in range(20):
  result = square_root(i)
  print("The square root of: ",i,"=",result)

The square root of:  0 = 0
The square root of:  1 = 1
The square root of:  2 = 4
The square root of:  3 = 9
The square root of:  4 = 16
The square root of:  5 = 25
The square root of:  6 = 36
The square root of:  7 = 49
The square root of:  8 = 64
The square root of:  9 = 81
The square root of:  10 = 100
The square root of:  11 = 121
The square root of:  12 = 144
The square root of:  13 = 169
The square root of:  14 = 196
The square root of:  15 = 225
The square root of:  16 = 256
The square root of:  17 = 289
The square root of:  18 = 324
The square root of:  19 = 361

In [11]:
# Write a function that will calculate the sum of multiple numbers
# Passing diferent arguments
def find_sum(*numbers):
  result = 0

  for i in numbers:
    result = result+ i
  print("Sum: ", result)

In [12]:
find_sum(10,12)

Sum:  22

In [13]:
find_sum(10,20,40)

Sum:  70

In [17]:
# Write a function to calculate the factorial of a num
def factorial(num):
  result = 1

  for i in range(1,num+1):
    result = result*i

  print("factorial of ",i,"=",result)

In [19]:
factorial(5)

factorial of  5 = 120

In [21]:
# Example of recursive function
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))


num = 4
print("The factorial of", num, "is", factorial(num))

The factorial of 4 is 24

# Lambda Function

In [22]:
greet = lambda : print("Hey there: ")

In [23]:
greet()

Hey there:

In [24]:
# Lambda function with argument
greet = lambda name: print("Hey there", name)

In [27]:
greet("Vaibhav")

Hey there Vaibhav

# Python Variable scope:

1.   Local Variable
2.   Global Variable
3.   Nonlocal Variable

In [31]:
# Local variable
def greet():
  message = "Hello"
  print("local", message)
greet()
# Here we are only able to access message through greet() function.
# So, it is local variable

local Hello

In [32]:
print("Hi")

Hi

In [33]:
# Global variable
university = "AKTU"
def univer():
  print("University name is: ", university)
univer()

print(university)

University name is:  AKTU
AKTU

# Some info anout __init__.py file:

*   A directory must contain __init__.py file, in order for python to consider
    it as a package.
*   This can be left empty but we generally placethe initialization code for
    that package in this file.