In [14]:
#Question: 1

def amplify(num):
    result = []
    for i in range(1, num + 1):
        if i % 4 == 0:  # If divisible by 4
            result.append(i * 10)
        else:
            result.append(i)
    return result

# Test cases
print(amplify(4))
print(amplify(3))
print(amplify(25))

[1, 2, 3, 40]
[1, 2, 3]
[1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]

In [15]:
#Question: 2

def unique(lst):
    counts = {}
    for num in lst:
        if num in counts:
            counts[num] += 1
        else:
            counts[num] = 1

    for key, value in counts.items():
        if value == 1:
            return key


print(unique([3, 3, 3, 7, 3, 3]))
print(unique([0, 0, 0.77, 0, 0]))
print(unique([0, 1, 1, 1, 1, 1, 1, 1]))

7
0.77
0

In [16]:
#Question: 3

import math

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def getArea(self):
        return round(math.pi * self.radius ** 2)

    def getPerimeter(self):
        return round(2 * math.pi * self.radius)


circy = Circle(11)
print(circy.getArea())
circy = Circle(4.44)
print(circy.getPerimeter())

380
28

In [17]:
#Question: 4

def sort_by_length(lst):
    return sorted(lst, key=len)

# Test cases
print(sort_by_length(["Google", "Apple", "Microsoft"]))
print(sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"]))
print(sort_by_length(["Turing", "Einstein", "Jung"]))

['Apple', 'Google', 'Microsoft']
['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']
['Jung', 'Turing', 'Einstein']

In [18]:
#Question: 5

def is_triplet(a, b, c):
    # Sort the numbers
    nums = sorted([a, b, c])

    # Check if it forms a Pythagorean triplet
    return nums[0]**2 + nums[1]**2 == nums[2]**2

# Test cases
print(is_triplet(3, 4, 5))
print(is_triplet(13, 5, 12))
print(is_triplet(1, 2, 3))

True
True
False