In [19]:
#Question: 1

def is_symmetrical(num):
    return str(num) == str(num)[::-1]

print(is_symmetrical(7227))
print(is_symmetrical(12567))
print(is_symmetrical(44444444))
print(is_symmetrical(9939))
print(is_symmetrical(1112111))

True
False
True
False
True

In [20]:
#Question: 2

def multiply_nums(nums_str):
    nums = nums_str.split(", ")
    result = 1
    for num in nums:
        result *= int(num)
    return result

# Test cases
print(multiply_nums("2, 3"))
print(multiply_nums("1, 2, 3, 4"))
print(multiply_nums("54, 75, 453, 0"))
print(multiply_nums("10, -2"))

6
24
0
-20

In [21]:
#Question: 3

def square_digits(num):
    # Convert number to string, iterate over each digit, square it, and concatenate the squared digits
    squared_digits = ''.join(str(int(digit) ** 2) for digit in str(num))
    # Convert the concatenated string back to an integer
    return int(squared_digits)

print(square_digits(9119))
print(square_digits(2483))
print(square_digits(3212))

811181
416649
9414

In [22]:
#Question: 4

def setify(lst):
    return sorted(list(set(lst)))


print(setify([1, 3, 3, 5, 5]))
print(setify([4, 4, 4, 4]))
print(setify([5, 7, 8, 9, 10, 15]))
print(setify([3, 3, 3, 2, 1]))

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

In [23]:
#Question: 5

def mean(num):
    digits = [int(digit) for digit in str(num)]  # Convert number to list of digits
    return sum(digits) // len(digits)  # Calculate mean and return as integer


print(mean(42))
print(mean(12345))
print(mean(666))

3
3
6