In [7]:
#Question: 1

def next_in_line(lst, num):
    if not lst:  # Check if the list is empty
        return "No list has been selected"
    lst.pop(0)  # Remove the first element of the list
    lst.append(num)  # Add the number to the end of the list
    return lst

print(next_in_line([5, 6, 7, 8, 9], 1))
print(next_in_line([7, 6, 3, 23, 17], 10))
print(next_in_line([1, 10, 20, 42], 6))
print(next_in_line([], 6))

[6, 7, 8, 9, 1]
[6, 3, 23, 17, 10]
[10, 20, 42, 6]
No list has been selected

In [8]:
#Question: 2

def get_budgets(lst):
    return sum(person["budget"] for person in lst)


print(get_budgets([
    {"name": "John", "age": 21, "budget": 23000},
    {"name": "Steve", "age": 32, "budget": 40000},
    {"name": "Martin", "age": 16, "budget": 2700}
]))

print(get_budgets([
    {"name": "John", "age": 21, "budget": 29000},
    {"name": "Steve", "age": 32, "budget": 32000},
    {"name": "Martin", "age": 16, "budget": 1600}
]))

65700
62600

In [9]:
#Question: 3

def alphabet_soup(s):
    return ''.join(sorted(s))


print(alphabet_soup("hello"))
print(alphabet_soup("edabit"))
print(alphabet_soup("hacker"))
print(alphabet_soup("geek"))
print(alphabet_soup("javascript"))

ehllo
abdeit
acehkr
eegk
aacijprstv

In [10]:
#Question: 4

def compound_interest(p, t, r, n):
    amount = p * (1 + r/n)**(n*t)
    return round(amount, 2)


print(compound_interest(10000, 10, 0.06, 12))

18193.97

In [11]:
#Question: 5

def return_only_integer(lst):
    return [x for x in lst if isinstance(x, int)]


print(return_only_integer([9, 2, "space", "car", "lion", 16]))
print(return_only_integer(["hello", 81, "basketball", 123, "fox"]))
print(return_only_integer([10, "121", 56, 20, "car", 3, "lion"]))
print(return_only_integer(["String", True, 3.3, 1]))

[9, 2, 16]
[81, 123]
[10, 56, 20, 3]
[True, 1]